@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.otf');
}

@font-face {
    font-family: 'ProximaNova-Extrabold';
    src: url('../fonts/ProximaNova-Extrabold.otf');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.otf');
}

body {
    font-family: 'ProximaNova-Regular';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: #FEFE00;
    /* height: 850px; */
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
    padding-bottom: 70px;
}

header .title {
    font-family: 'ProximaNova-Extrabold', sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    letter-spacing: 5px;
    margin: 0;
    font-size: 1.2em;
}

header p {
    font-family: 'ProximaNova-Regular';
    text-align: center;
    line-height: 35px;
    font-size: 21px;
}

#menu-toggle{
	position: absolute;
	right: 5%;
	top: 45px;
	cursor: pointer;
}

#btn-generate {
    border-radius: 80px;
    border: 2px solid black;
    width: 308px;
    height: 70px;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 70px;
    font-family: 'ProximaNova-Regular';
    font-size: 25px;
    letter-spacing: 5px;
}

#btn-generate:hover {
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    cursor: pointer;
    background-color: black;
    color: white;
}

#socials {}
#socials a{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}

#socials a:first-child {
    margin-left: 25px;
}

.outer-nav .logo{
    margin: 0 auto;
    
    display: block;
    margin-bottom: 30px;
}

.outer-nav .btn-round {
    color: yellow;
    text-decoration: none;
    border: 1px solid;
    padding: 24px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.outer-nav p, .outer-nav span, .outer-nav h4 {
    text-align: center;
    color: #FFFF00;
}

.outer-nav p {
    line-height: 27px;
    font-size: 20px;
}

.outer-nav h4 {
    margin-bottom: 20px;
}

.outer-nav span {
    font-size: 16px;
    display: block;
}


#socials a:last-child {
    margin-right: 0;
}
#facebook{
    background: url(../img/facebook.png) no-repeat center;
    background-size: 100%;
}
#twitter{
    background: url(../img/twitter.png) no-repeat center;
    background-size: 100%;
}
#email{
    background: url(../img/email.png) no-repeat center;      background-size: 100%;
}

#logo {
    margin: 65px auto;
    display: block;
    width: 126px;
}

#generator .title {
    padding-top: 60px;
    text-align: center;
    font-family: 'ProximaNova-Regular';
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 80px;
}

#generator h2 {
    font-family: 'ProximaNova-Regular';
    font-size: 77px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 40px;
}

#business-sector {
    display: inline-block;
}

#generator .with {
    color: gray;
    font-weight: 100;
    display: inline-block;
}

.toggle-wrapper {
    position: relative;
}

.toggle-wrapper label {
    font-family: 'ProximaNova-Bold';
    text-transform: uppercase;
    font-size: 22px;
    position: absolute;
    left: 0;
    top: 12px;
}

.toggle {
    width: 70px;
    height: 40px;
    display: inline-block;
    background-color: #cfcdce;
    border-radius: 30px;
    position: relative;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.toggle:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toggle.active {
    background-color: black;
}

.toggle.active .circle {
    transform: translateX(33px);
    left: auto;
}

.toggle .circle {
    width: 34px;
    height: 34px;
    display: block;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
}

.toggle:after {
    content: "unlocked";
    font-family: 'ProximaNova-Bold';
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    left: -118px;
    top: 12px;
}

.toggle.active:after {
    content: "locked";
    right: -90px;
    left: auto;
}

#generator-wrapper {
    overflow: hidden;
    position: relative;
}

#generator {
    padding-bottom: 110px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
}

#generator-wrapper.hide #generator {
    transform: translateY(100%);
}

#generator-wrapper.hide #loading {
    opacity: 1;
    visibility: visible;
}

#loading {
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 20%;
}

@media screen and (max-width: 668px) {
    .outer-nav.left{
        left: 10%;
    
        width: 10.9em;
}

#socials a {
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

#socials a:first-child {
    margin-left: 19px;
}

.outer-nav .logo {
    width: 60px;
}

.outer-nav .btn-round {
    font-size: 11px;
    padding: 15px 20px;
}
	header .title{
        font-size: 15px;
        width: 81%;
        margin: 0 auto;
        line-height: 25px;
        padding-top: 24px;
    }

#logo {
    margin: 40px auto;
    width: 77px;
}

header {
    padding-bottom: 45px;
}

#btn-generate {
    width: 70%;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    margin-top: 35px;
}

#generator .title {
    font-size: 18px;
    margin-top: 0;
    padding-top: 50px;
    margin-bottom: 0;
}

#generator {
    padding-bottom: 40px;
}

.toggle {
    width: 50px;
    height: 30px;
}

.toggle .circle {
    width: 27px;
    height: 27px;
    top: 1px;
}

.toggle.active .circle {
    transform: translateX(21px);
}

.toggle:after {
    font-size: 15px;
    left: -86px;
    top: 9px;
}

.toggle.active:after {
    right: -64px;
}

#generator h2 {
    font-size: 45px;
    margin-bottom: 15px;
}

header p {
    font-size: 15px;
    line-height: 24px;
    width: 80%;
    margin: 0 auto;
}

#menu-toggle {
    width: 35px;
    top: 33px;
}
}




/*CMS*/
.form-control{
    border-radius: 0;
    box-shadow: none;
}